<div style="margin-top: 150px;" class="container">
    <form [formGroup]="form" class="card">
        <div class="row">
            <div class="col-6">
                <div>
                    <div class="card-body">
                        <div class="mt-5 pt-2 border-top" style="display: grid;grid-template-columns: 1fr 1fr;">
                            <div>

                                <h4 class="mb-3 font-size-15">{{item?.Category?.title}}</h4>
                                <h4 class="mb-3 font-size-15">{{item?.title}} - {{item?.code}}</h4>
                                <p class="text-muted mb-4">{{item?.description}}</p>
                                <p class="text-muted mb-4">{{item?.specification}}</p>
                            </div>
                            <div>
                                <img src="{{ item?.image }}" style="width: 100%;" alt="image" />
                            </div>
                        </div>
                        <div class="mt-3 pt-2 border-top">
                            <!-- <h4 class="mb-3 font-size-15">Contact Information</h4> -->
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0 text-muted">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Price</th>
                                            <td>{{item?.price}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Status</th>
                                            <td>{{item?.status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 p-4">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">Quantity</label>
                                <div class="col-lg-10">
                                    <input type="number" class="form-control" formControlName="qty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">First Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" formControlName="firstname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">Last Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" formControlName="lastname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" formControlName="email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">Contact No</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" formControlName="contact">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="simpleinput">Delivery Address</label>
                                <div class="col-lg-10">
                                    <textarea cols="30" rows="10" type="text" class="form-control"
                                        formControlName="address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end" style="grid-gap: 10px;">
                        <div>
                            <button type="button" class="btn btn-success" (click)="placeOrder(errorModalData)">Place
                                your order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </form>
</div>

<ng-template #errorModalData let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title"></h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body text-center">
        <img src="/assets/images-custom/check.png" alt="" srcset="">
        <h4 class="text-success mt-4">Your order has been placed successfully</h4>
        <p class="w-75 mx-auto text-muted">Team Katalog will contact you soon.</p>
        <p class="w-75 mx-auto text-muted">Thank you for your order and happy planting</p>
        <div class="mt-4">
            <a href="javascript: void(0);" class="btn btn-outline-primary btn-rounded width-md"
                (click)="closeModal()"><i class="uil uil-arrow-left mr-1"></i> Back</a>
        </div>
    </div>
</ng-template>