<div>
    <div>
        <!-- horizontal layout -->
        <app-horizontal [layoutWidth]="layoutWidth"></app-horizontal>

        <!-- right sidebar-->
        <app-rightsidebar></app-rightsidebar>
    </div>
    <!-- <div style="display: flex;"> -->
        <!-- <app-leftsidebar [sidebarType]="'default'"></app-leftsidebar> -->
        <router-outlet></router-outlet>
    <!-- </div> -->
</div>