<div class="card">
    <div class="row no-gutters">
        <div class="col-1">
            <img src="{{data?.image}}" style="height: 100px;" />
        </div>
        <div class="col">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-1">S{{data?.title}} - {{data?.code}}</h5>
                    <a class="card-link text-custom btn-soft-info p-1">{{data?.status}}</a>
                </div>
                <h6 class="text-muted font-weight-normal mt-0 mb-3">{{data?.specification}}</h6>
                <ul class="list-group list-group-flush text-muted">
                    <li class="d-flex justify-content-between">
                        {{data?.price}}
                        <button type="button" class="btn btn-primary btn-sm mr-1" (click)="onViewEventClick()" >Place Order</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>