<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <a routerLink="/" class="navbar-brand mr-0 mr-md-2 logo">
      <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="24" />
        <span class="d-inline h5 ml-1 text-logo ml-2">Katalog</span>
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo.png" alt="" height="24">
      </span>
    </a>

    <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
      <li class="">
        <button class="button-menu-mobile open-left disable-btn" (click)="toggleMobileMenu($event)">
          <i [attr.data-feather]="'menu'" class="menu-icon" appFeatherIcon></i>
          <i [attr.data-feather]="'x'" class="close-icon" appFeatherIcon></i>
        </button>
      </li>
    </ul>

    <div style="width: 100%;">
      <input name="search" [(ngModel)]="searchTerm" type="text" class="form-control" (keyup)="passSearchTerm()" placeholder="Search...">
    </div>

    <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
    </ul>
  </div>

</div>
<!-- end Topbar -->
