<div style="margin-top: 150px;" class="d-flex justify-content-center">
    <form style="width: 50vw;min-width: 500px" [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Item Code" formControlName="itemCode">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Contact" formControlName="contact">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <textarea type="text" class="form-control" placeholder="Address" formControlName="address" cols="30"
                            rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="10" placeholder="Message"
                            formControlName="message"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="sendRequest()">Submit</button>
        </div>
    </form>
</div>