<div>
    <div class="card mb-4 mb-xl-0">
        <img class="card-img-top img-fluid" src="{{data?.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-size-16">{{data?.title}} - {{data?.code}}</h5>
            <p class="card-text text-muted">{{data?.specification}}
            </p>
        </div>
        <ul class="list-group list-group-flush text-muted">
            <li class="list-group-item justify-content-between d-flex">
                {{data?.price}}
                <a class="card-link text-custom btn-soft-info p-1">{{data?.status}}</a>
            </li>
        </ul>
        <div class="card-body d-flex justify-content-end">
            <a href="javascript:void(0);" (click)="onViewEventClick()" class="card-link text-custom">Place Order</a>
        </div>
    </div>
</div>