<div style="display: grid;grid-template-columns: 300px 1fr;">
    <div>
        <app-leftsidebar class="left-cus-position" [sidebarType]="'default'" [menuItems]="categories" (selectedItem)="passSelectedItem($event)"></app-leftsidebar>
    </div>
    <div class="p-4" style="margin-top: 140px;">
        <div class="btn-group ml-1 option-container">
            <button type="button" class="btn btn-white" (click)="isListView=false">Tile</button>
            <button type="button" class="btn btn-white" (click)="isListView=true">List</button>
          </div>
        <div class="d-flex" *ngIf="!isListView" style="grid-gap: 20px;flex-wrap: wrap;">
             <div *ngFor="let item of items" style="width: 300px;">
                <app-item [data]="item" (onViewClick)="navigateToDetailView(item)"></app-item>
            </div> 
        </div>
        <div style="grid-gap: 20px;flex-wrap: wrap;"  *ngIf="isListView">
            <div *ngFor="let item of items">
                <app-item-list  [data]="item" (onViewClick)="navigateToDetailView(item)"></app-item-list>
            </div>
        </div>
        <div class="d-flex justify-content-end pr-5 pt-5">
            <div class="text-md-right float-md-right pagination-rounded" style="grid-gap: 10px;display: flex;">
                <label style="cursor: pointer;" (click)="pageChange(true,-1)">Prev</label>
                <label style="cursor: pointer;" (click)="pageChange(false,1)">Next</label>
            </div>
        </div>
    </div>

</div>