.left-cus-position{
    position: fixed;
    top: 70px;
    z-index: 2;
    bottom: 0px;
}
.option-container{
    display: grid;
    grid-template-columns: 100px 100px;
    place-content: end;
    margin-bottom: 15px;
}